{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_digital_vault = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-doberman-pinscher-dogs-securing-felicitails-user-privacy-felicitails-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_digital_vault = 'felicitails-account-center-doberman-pinscher-dogs-securing-felicitails-user-privacy-felicitails-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_assist = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-founded-by-lindsay-giguiere-account-center-services-psychiatric-service-dog-assisting-man_copy.png?v=1685640384' %}
{% assign alt_account_center_digital_vault_assist = 'felicitails-founded-by-lindsay-giguiere-account-center-services-psychiatric-service-dog-assisting-man_copy' %}

{% assign img_account_center_digital_vault_certificate = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-emotional-support-certificate-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_digital_vault_certificate = 'felicitails-account-center-emotional-support-certificate-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_icon = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-digital-icon-founded-by-lindsay-giguiere.svg?v=1685640384' %}
{% assign alt_account_center_digital_vault_icon = 'felicitails-account-center-digital-icon-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_access_card = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-digital-vault-access-card-founded-by-lindsay-giguiere.png?v=1685640384' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>digital vault</h1>
      </div>
      <div class="account-main-item-image">
        <img src="{{ img_account_center_digital_vault }}" alt="{{ alt_account_center_digital_vault }}">
      </div>
    </div>
    <div class="filter_buttons">
      <button onclick="window.location.href = '/account?page=digital-vault-all'" class="inactive">all</button>
      <button>letters</button>
      <button onclick="window.location.href = '/account?page=digital-vault-certificates'" class="inactive">certificates</button>
      <button onclick="window.location.href = '/account?page=digital-vault-documents'" class="inactive">documents</button>
    </div>
    <div class="digital_vault_main_body">
      <div class="digital_vault_group">
        <h2 class="digital_vault_title">Ceritified Therapist Letters</h2>
        <div class="digital_vault_letter_body">
          <div class="line-w"></div>
          <div class="digital_vault_section">
            <div class="digital_vault_letter">
              <img src="{{ img_account_center_digital_vault_assist }}" alt="{{ alt_account_center_digital_vault_assist }}">
              <div class="digital_vault_text_group">
                <h4>PSYCHIATRIC SERVICE DOG</h4>
                <div class="digital_vault_table">
                  <div class="digital_vault_table_col">
                    <p class="header ">Owner's Name:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">PSD's Name:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">Registration Number:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">RSD Renewal Date:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                </div>
                <div class="digital_vault_button_group">
                  <button class="download">DOWNLOAD YOUR LETTER</button>
                  <button class="update">UPDATE RENEWAL PAYMENT INFORMATION</button>
                </div>
                <p class="digital_vault_text">
                  If you are in need of updates / changes to your Therapist Certified Letter, email
                  <a>support@felicitails.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="line-w"></div>
          <div class="digital_vault_section">
            <div class="digital_vault_letter">
              <img src="{{ img_account_center_digital_vault_assist }}" alt="{{ alt_account_center_digital_vault_assist }}">
              <div class="digital_vault_text_group">
                <h4>PSYCHIATRIC SERVICE DOG</h4>
                <div class="digital_vault_table">
                  <div class="digital_vault_table_col">
                    <p class="header ">Owner's Name:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">PSD's Name:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">Registration Number:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                  <div class="digital_vault_table_col">
                    <p class="header ">RSD Renewal Date:</p>
                    <p class="body ">Lorem Ipsum</p>
                  </div>
                </div>
                <div class="digital_vault_button_group">
                  <button class="download">DOWNLOAD YOUR LETTER</button>
                  <button class="update">UPDATE RENEWAL PAYMENT INFORMATION</button>
                </div>
                <p class="digital_vault_text ">
                  If you are in need of updates / changes to your Therapist Certified Letter, email
                  <a>support@felicitails.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="line-w"></div>
        </div>
      </div>
      <div class="digital_vault_group digital_vault_lost">
        <img src="{{img_account_center_digital_vault_access_card}}" alt="{{alt_text}}">
        <div>
          <div class="digital_vault_lost_text">
            <h2>Lost Your Digital Vault Access Card?</h2>
            <div>
              <span>ORDER A REPLACEMENT CARD</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>