{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_digital_vault = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-doberman-pinscher-dogs-securing-felicitails-user-privacy-felicitails-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_digital_vault = 'felicitails-account-center-doberman-pinscher-dogs-securing-felicitails-user-privacy-felicitails-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_assist = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-founded-by-lindsay-giguiere-account-center-services-psychiatric-service-dog-assisting-man_copy.png?v=1685640384' %}
{% assign alt_account_center_digital_vault_assist = 'felicitails-founded-by-lindsay-giguiere-account-center-services-psychiatric-service-dog-assisting-man_copy' %}

{% assign img_account_center_digital_vault_certificate = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-emotional-support-certificate-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_digital_vault_certificate = 'felicitails-account-center-emotional-support-certificate-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_icon = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-digital-icon-founded-by-lindsay-giguiere.svg?v=1685640384' %}
{% assign alt_account_center_digital_vault_icon = 'felicitails-account-center-digital-icon-founded-by-lindsay-giguiere' %}

{% assign img_account_center_digital_vault_access_card = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-digital-vault-access-card-founded-by-lindsay-giguiere.png?v=1685640384' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>digital vault</h1>
      </div>
      <div class="account-main-item-image">
        <img src="{{ img_account_center_digital_vault }}" alt="{{ alt_account_center_digital_vault }}">
      </div>
    </div>
    <div class="filter_buttons">
      <button onclick="window.location.href = '/account?page=digital-vault-all'" class="inactive">all</button>
      <button onclick="window.location.href = '/account?page=digital-vault-letters'" class="inactive">letters</button>
      <button onclick="window.location.href = '/account?page=digital-vault-certificates'" class="inactive">certificates</button>
      <button>documents</button>
    </div>
    <div class="digital_vault_main_body">

      <div class="digital_vault_group digital_vault_section">
        <h2>Documents</h2>
        <div class="digital_vault_document">
          <!-- document groups -->
          <div class="digital_vault_document_group">
            <h4>VACCINATION PAPERS</h4>
            <div class="digital_vault_section">
              <div class="line-w"></div>
              <div class="digital_vault_document_list digital_vault_section">
                <div class="content">
                  <div class="inputfile_img">
                    <img src="{{ img_account_center_digital_vault_icon }}" alt="{{ alt_account_center_digital_vault_icon }}">
                  </div>
                  <div class="inputfile_text">
                    <p class="font-bold">Document Name Lorem ipsum.pdf</p>
                    <p>Added 10.05.2123</p>
                  </div>
                </div>
                <button class="download">DOWNLOAD</button>
              </div>
              <div class="line-w"></div>
              <div class="digital_vault_document_list digital_vault_section">
                <div class="content">
                  <div class="inputfile_img">
                    <img src="{{ img_account_center_digital_vault_icon }}" alt="{{ alt_account_center_digital_vault_icon }}">
                  </div>
                  <div class="inputfile_text">
                    <p class="font-bold">Document Name Lorem ipsum.pdf</p>
                    <p>Added 10.05.2123</p>
                  </div>
                </div>
                <button class="download">DOWNLOAD</button>
              </div>
              <div class="line-w"></div>
            </div>
            <input
              type="file"
              name="file"
              id="vaccination_document"
              class="inputfile">
            <label for="vaccination_document">
              <div>
                <div class="inputfile_img">
                  <img src="{{ img_account_center_digital_vault_icon }}" alt="{{ alt_account_center_digital_vault_icon }}">
                </div>
                <div class="inputfile_text">
                  <h4>
                    <span>Click to Upload</span>
                    or drag and drop</h4>
                  <p>Files supported: pdf, jpg, doc</p>
                </div>
              </div>
            </label>
          </div>
          <div class="digital_vault_document_group">
            <h4>AKC REGISTRATION PAPERS</h4>
            <div class="line-w"></div>
            <p class="digital_vault_document_text">You don't have any documents yet.</p>
            <input
              type="file"
              name="file"
              id="vaccination_document"
              class="inputfile">
            <label for="vaccination_document">
              <div>
                <div class="inputfile_img">
                  <img src="{{ img_account_center_digital_vault_icon }}" alt="{{ alt_account_center_digital_vault_icon }}">
                </div>
                <div class="inputfile_text">
                  <h4>
                    <span>Click to Upload</span>
                    or drag and drop</h4>
                  <p>Files supported: pdf, jpg, doc</p>
                </div>
              </div>
            </label>
          </div>
          <div class="digital_vault_document_group">
            <h4>PET INSURANCE POLICY</h4>
            <div class="line-w"></div>
            <p class="digital_vault_document_text">You don't have any documents yet.</p>
            <input
              type="file"
              name="file"
              id="vaccination_document"
              class="inputfile">
            <label for="vaccination_document">
              <div>
                <div class="inputfile_img">
                  <img src="{{ img_account_center_digital_vault_icon }}" alt="{{ alt_account_center_digital_vault_icon }}">
                </div>
                <div class="inputfile_text">
                  <h4>
                    <span>Click to Upload</span>
                    or drag and drop</h4>
                  <p>Files supported: pdf, jpg, doc</p>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="line-w"></div>
        <p class="digital_vault_text">
          If you are in need of any assistance, email
          <a>support@felicitails.com</a>
        </p>
      </div>
      <div class="digital_vault_group digital_vault_lost">
        <img src="{{img_account_center_digital_vault_access_card}}" alt="{{alt_text}}">
        <div>
          <div class="digital_vault_lost_text">
            <h2>Lost Your Digital Vault Access Card?</h2>
            <div>
              <span>ORDER A REPLACEMENT CARD</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>