<div class="psa-inner-text">
  <div class="psa-inner-container">
    <div class="psa-two-cols">
          <div class="col">
             <img src="{{ section.settings.image | img_url:'master' }}" alt="image"> 
          </div>
          <div class="col txt-holder">
            <h2>{{ section.settings.banner_heading }}</h2>
            {% if section.settings.content %}<p>{{ section.settings.content }}</p>{% endif %}
            <a class="btn btn-primary" href="{{ section.settings.btn_url }}">{{ section.settings.btn_name }}</a>
          </div>
        </div>
  </div>
</div>


{% schema %}
  {
  "name": "Image with text",
    "class":"airline-custom",
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
    {
      "type": "text",
      "label": "Heading",
      "id": "banner_heading"
    },
    {
      "type": "richtext",
      "label": "Content",
      "id": "content"
    },
    {
      "type": "text",
      "label": "Button Name",
      "id": "btn_name"
    },
    {
      "type": "url",
      "label": "Button URL",
      "id": "btn_url"
    }
  ],
  "presets": [
      {
        "name": "Air-Airline Image with text"
      }
    ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}